Repository SuperNewRoles/SuperNewRoles, pull requests merged in 2023-08, with the labels that each got.

#1251 buildエラー修正
  SuperNewRoles/Mode/CopsRobbers/RoleSystem.cs
  SuperNewRoles/Mode/SuperHostRoles/RoleSelectHandler.cs
  SuperNewRoles/Patches/PlayerControlPatch.cs
  SuperNewRoles/Patches/ShipStatusPatch.cs
Labels: Fix/バグ修正

#1254 ゲッサー項目追加
  SuperNewRoles/Roles/Attribute/Guesser.cs
  SuperNewRoles/Roles/Impostor/Levelinger.cs
Labels: Fix/バグ修正

#1223 [新役職] : 化け狸
  SuperNewRoles/Buttons/Buttons.cs
  SuperNewRoles/Mode/SuperHostRoles/CoEnterVent.cs
  SuperNewRoles/Mode/SuperHostRoles/RoleHelper.cs
  SuperNewRoles/Mode/SuperHostRoles/RoleSelectHandler.cs
  SuperNewRoles/Mode/SuperHostRoles/SyncSetting.cs
  SuperNewRoles/Modules/CustomOptionHolder.cs
  SuperNewRoles/Modules/CustomRPC.cs
  SuperNewRoles/Modules/IntroData.cs
  SuperNewRoles/Patches/MeetingHudPatch.cs
  SuperNewRoles/Patches/PlayerControlPatch.cs
  SuperNewRoles/Patches/SelectTaskPatch.cs
  SuperNewRoles/Resources/MadRacoonButton.png
  SuperNewRoles/Resources/Translate.csv
  SuperNewRoles/Roles/AllRoleSetClass.cs
  SuperNewRoles/Roles/CrewMate/Celebrity.cs
  SuperNewRoles/Roles/Impostor/MadRole/MadRaccoon.cs
  SuperNewRoles/Roles/Impostor/MadRole/Madmate.cs
  SuperNewRoles/Roles/Impostor/MadRole/Worshiper.cs
  SuperNewRoles/Roles/Role/RoleClass.cs
  SuperNewRoles/Roles/Role/RoleHelper.cs
Labels: New Role/新役職, TestPlease/テストして！

#1218 新役職 [ 警察医 ]
  SNRDevTools/CreateRoleAdvanced.py
  SuperNewRoles/Mode/SuperHostRoles/CoEnterVent.cs
  SuperNewRoles/Mode/SuperHostRoles/FixedUpdate.cs
  SuperNewRoles/Mode/SuperHostRoles/RoleHelper.cs
  SuperNewRoles/Mode/SuperHostRoles/RoleSelectHandler.cs
  SuperNewRoles/Mode/SuperHostRoles/SyncSetting.cs
  SuperNewRoles/Modules/CustomOptionHolder.cs
  SuperNewRoles/Modules/CustomRPC.cs
  SuperNewRoles/Modules/IntroData.cs
  SuperNewRoles/Patches/ChatHandlerPatch.cs
  SuperNewRoles/Patches/FixedUpdatePatch.cs
  SuperNewRoles/Resources/PoliceSurgeonButton.png
  SuperNewRoles/Resources/Translate.csv
  SuperNewRoles/Roles/AllRoleSetClass.cs
  SuperNewRoles/Roles/CrewMate/PoliceSurgeon.cs
  SuperNewRoles/Roles/Impostor/MadRole/MadRaccoon.cs
  SuperNewRoles/Roles/Impostor/MadRole/Madmate.cs
  SuperNewRoles/Roles/Role/RoleClass.cs
  SuperNewRoles/Roles/Role/RoleHelper.cs
Labels: New Role/新役職

#1255 EvilSeerの[死の点滅]に死者の色情報が分かる機能を追加 & カスタムメッセージの文字色を変更可能にした
  SuperNewRoles/Modules/CustomMsg.cs
  SuperNewRoles/Modules/CustomOptionHolder.cs
  SuperNewRoles/Modules/CustomOverlay.cs
  SuperNewRoles/Modules/OutfitManager.cs
  SuperNewRoles/Resources/Translate.csv
  SuperNewRoles/Roles/CrewMate/Seer.cs
  SuperNewRoles/Roles/Role/RoleClass.cs
Labels: Add feature/既存の機能に追加

#1257 [新役職(?)]魔術師
  SuperNewRoles/CustomObject/Beacon.cs
  SuperNewRoles/Patches/WrapUpPatch.cs
  SuperNewRoles/Resources/Translate.csv
  SuperNewRoles/Roles/Impostor/Conjurer.cs
Labels: Fix/バグ修正, New Role/新役職

#1256 [新役職] モイラ
  SuperNewRoles/Buttons/CustomButton.cs
  SuperNewRoles/Modules/CustomOptionHolder.cs
  SuperNewRoles/Modules/CustomRPC.cs
  SuperNewRoles/Modules/IntroData.cs
  SuperNewRoles/Modules/SetNames.cs
  SuperNewRoles/Patches/EndGamePatch.cs
  SuperNewRoles/Patches/MeetingHudPatch.cs
  SuperNewRoles/Patches/WrapUpPatch.cs
  SuperNewRoles/Resources/MoiraButton.png
  SuperNewRoles/Resources/Translate.csv
  SuperNewRoles/Roles/AllRoleSetClass.cs
  SuperNewRoles/Roles/Neutral/Moira.cs
  SuperNewRoles/Roles/Role/RoleClass.cs
  SuperNewRoles/Roles/Role/RoleHelper.cs
Labels: New Role/新役職
